@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing:  border-box;
    font-family: 'Poppins';

}

body{
    overflow: hidden;
    background-color: #e8f0f7;
    
}

.header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

.backgrounddesigns{
    width: 100%;
    height: 100vh;
    position: absolute;
    font-size: clamp(8rem, 20vw, 26rem);
    font-weight: bolder;
    z-index: -1;
}


.backgrounddesigns span{
  background: linear-gradient(90deg, #007ede9a, #c300ff80);
  background-clip:text;
  -webkit-text-fill-color: transparent;
}


.backgrounddesigns .toptext{
  position: absolute;
   top: clamp(-5rem, -10vw, -13rem);
 
}

.backgrounddesigns .bottomtext{
  position: absolute;
  top: clamp(12rem, 36vw, 32rem);
  right: clamp(-1rem, -2vw, -1rem);

}

nav{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: clamp(10px, 2vw, 20px) clamp(20px, 4vw, 40px);
    height: clamp(80px, 15vh, 140px);

}
.navlinks{
    
    display: flex;
    gap: clamp(20px, 5vw, 50px);
    list-style: none;


}

.navlinks li a{
    text-decoration: none;
    color: #000;
    font-size: clamp(0.8rem, 2vw, 1rem);


}

.content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: clamp(30px, 10vw, 150px);
    margin: 0 clamp(20px, 5vw, 60px);
}
.content .bannerImage img{
 width: clamp(220px, 64vw, 440px);
 height: clamp(220px, 64vw, 440px);
 margin-right: clamp(10px, 8vw, 60px);
 margin-left: clamp(-70px, -15vw, -10px);
 margin-top: -10px;
 object-fit: contain;
 opacity: 0.8;

 align-self: flex-start;

}

.content .text h1{
    font-size: clamp(2rem, 10vw, 90px);
    margin-bottom: clamp(5px, 1.5vw, 10px);
    margin-top: clamp(30px, 6vw, 60px);
    text-decoration: none; 
    position: relative;
    top: clamp(30px, 7vw, 70px);

}
.content .text h2{
    margin-bottom: clamp(25px, 5vw, 50px);
     font-size: clamp(1.2rem, 6vw, 32px);
    text-decoration: none; 
    position: relative;
    top: clamp(20px, 5vw, 50px);

}
.content .text p{
    font-size: clamp(1rem, 4vw, 30px);
    font-weight: 300;
    margin-bottom: clamp(25px, 5vw, 50px);
    position: relative;
    top: clamp(20px, 5vw, 50px);

}

.content .text button{
    border: none;
    padding: clamp(15px, 2vw, 40px) clamp(20px, 3vw, 50px);
    border-radius: clamp(30px, 5vw, 50px);
    font-size: clamp(1rem, 3vw, 30px);
    color: #fff;
    background: linear-gradient(90deg, #007ede9a, #c300ff80);
    cursor: pointer;
    top: clamp(20px, 5vw, 50px);
    position: relative;
    white-space: nowrap;


}