<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href= "style.css">
    <link rel="stylesheet" href= "animation.css">
</head>
<body>
    <div class="header">
        <div class="backgrounddesigns">
            <span class="toptext">STAR</span>
            <span class="bottomtext">BOARD</span>
        </div>
        <nav>
            <ul class="navlinks">
                <li><a href = "#"> About </a></li>
                <li><a href = "#"> Businesses</a></li>
                <li><a href = "#"> Login</a></li>
            </ul>
        </nav>
        <div class="content">
            
            <div class="text">
            <h1>
                Starboard
            </h1>
            <h2>Support Local. Discover Hidden Gems.</h2>
            
            <button>Get Started</button>
            
            </div>
        
            <div class="bannerImage">
            <img src="../public/assets/DualSense.png">

            </div>
         </div>
  
    </div>
</body>
</html>